/* .cell {
    width: calc(100% / 8);
    aspect-ratio: 1/1;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: aqua;
}

.danger {
    background-color: red;
} */

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#menu h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

#menu label {
    font-size: 24px;
    margin-bottom: 20px;
}

#menu select {
    font-size: 24px;
    margin-bottom: 30px;
}

#menu button {
    font-size: 24px;
    padding: 10px 30px;
    border: none;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}

#menu button:hover {
    background-color: #006080;
}

#menu.hide {
    display: none;
}

#reset-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

#reset-btn:hover {
    background-color: #3e8e41;
}

.grid {
    border: 1px solid black;
}

#grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    width: 480px;
}

#grid {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

#grid.hide {
    display: none;
}

.cell {
    display: inline-block;
    width: calc(100% / 10);
    height: calc(100% / 10);
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;


}

.cell.bomb {
    background-color: red;
}

.hide {
    display: none;
}